@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom styling for Mapbox popups */
.mapboxgl-popup {
  max-width: 300px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.mapboxgl-popup-content {
  padding: 10px;
  border-radius: 4px;
}

.mapboxgl-popup-content h3 {
  font-weight: bold;
  margin: 0 0 5px;
}

.mapboxgl-popup-content p {
  margin: 0;
}
